body {
    background-color: pink;
  }
.name {
    font-size: 60px;
}
.shot-bio, strong {
    font-size: 20px;
}
.summary {
    font-size: 15px;

}
.contacts {
    text-align: center;  
}
.logo1{
    font-size: 30px;
    color: rgb(9, 157, 231);
    text-align: center;

}